.card {
  &__container {
    position: relative;
    border: 3px solid #3e4357;
    border-radius: 10px;
    width: 350px;
    height: 500px;

    display: flex;
    overflow: hidden;
    margin-top: 10px;
    &__img {
    }
  }
}
