<div class="home__container">
  <app-card
    gameCover="assets/images/bt-4.jpg"
    gameLabel="Digital"
    imgAlt="Battlefield 4"
    gameTitle="Battlefield 4"
    gameType="Digital PS4"
    gamePrice="R$ 129,90"
  ></app-card>
  <app-card
    gameCover="assets/images/bt-5.jpg"
    gameLabel="Exclusive"
    imgAlt="Battlefield 5"
    gameTitle="Battlefield 5"
    gameType="Exclusive PS5"
    gamePrice="R$ 219,90"
  ></app-card>
  <app-card
    gameCover="assets/images/ac-cover.jpg"
    gameLabel="GOTY Remaster"
    gameTitle="Assassin's Creed"
    imgAlt="Assassin's Creed"
    gameType="Remaster PS5"
    gamePrice="R$ 109,00"
  ></app-card>
  <app-card
    gameCover="assets/images/bt-hardline.jpg"
    gameLabel="Free"
    gameTitle="Battlefield Hardline"
    imgAlt="Battlefield Hardline"
    gameType="Coop PS3 PS4 "
    gamePrice="Free"
  ></app-card>
</div>
